/* Make sure to put :hover after other styles */


/* -------------------------------------------- */

a:visited {
    color: cadetblue;
}

a:hover {
    color: red;
}

a:active {
    color: purple;
}


/* -------------------------------------------- */

input:valid {
    background-color: lightgreen;
}

input:invalid {
    background-color: red;
}

input:focus {
    background-color: greenyellow;
}

input:required {
    border: 2px solid yellow;
}

/* -------------------------------------------- */

/* tr:nth-child(even) {
    background-color: yellow;
}

tr:nth-child(odd) {
    background-color: yellowgreen;
}

thead td{
    background-color: green;
    color: white;
} */

/* -------------------------------------------- */
/* 
li:nth-child(1) {
    background-color: red;
}

li:nth-child(2) {
    background-color: orange;
}

li:nth-child(3) {
    background-color: yellow;
}

li:nth-child(4) {
    background-color: green;
}

li:nth-child(5) {
    background-color: blue;
}

li:nth-child(6) {
    background-color: purple;
} */

/* we can use a formula as a value instead of an integer. */

li:nth-child(6n-5) {
    background-color: red;
}

li:nth-child(6n-4) {
    background-color: orange;
}

li:nth-child(6n-3) {
    background-color: yellow;
}

li:nth-child(6n-2) {
    background-color: green;
}

li:nth-child(6n-1) {
    background-color: blue;
}

li:nth-child(6n) {
    background-color: purple;
}

/* -------------------------------------------- */

p a:nth-child(1) {
    color: red;
}

p a:nth-child(2) {
    color: orange;
}

p a:nth-child(3) {
    color: yellow;
}

p a:nth-child(4) {
    color: green;
}

p a:nth-child(5) {
    color: blue;
}

p a:nth-child(6) {
    color: purple;
}

/* --------------------------------------- */

p::first-letter {
    font-size: 2em;
    font-weight: bold;
}

p::selection {
    background-color: rgb(238, 144, 197);
}

/* This content is not copy-pastable */
p a::before {
    content: "<3 ";
}

p a::after {
    content: " <3";
}

@media screen and ( max-width: 600px ) { 
    /* Regular selectors and rules here. */ 
    table{
        display: none;
    }
}


@media screen and ( min-width: 1200px ) { 
    /* Regular selectors and rules here. */ 
    body{
        background-color: green;
    }
}